@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #C4A492;
}

button {
    height: 3vw;
    font-size: 1vw;
    margin-top: 1.2vw;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    border-radius: 10px;
}

#myBill {
    font-family: '국립박물관문화재단클래식B';
    font-size: 4vw;
    font-weight: bold;
    padding-left: 40px;
    color: white;
}

.section {
    background-color: #C4A492;
    height: auto;
}

.mypage-intro {
    display: flex;
    margin-top: 20px;
}

.line {
    border: 2px solid rgba(255, 255, 255, 0.729);
    width: 97%;
    margin-left: 30px;
}

.profile-card {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.5vw;
    width: 25vw;
    height: auto;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.profile {
    width: 23vw;
}

.subscription-card {
    width: 25vw;
    height: 18vw;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
}

/*프로필 기본 사진*/
.bigbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#user-edit {
    cursor: pointer;
}

.subscrip-view {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 20px;
}

.sub-button-section {
    display: flex;
    justify-content: end;
    margin-right: 5vw;
}

.pd-info-thumb {
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.pd-info {
    min-width: 30vw;
    display: flex;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.2em;
    color: aliceblue;
    margin-bottom: 1em;
}

.pd-info-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.2em 2em;
    cursor: pointer;
}

.pd-info-text:hover {
    text-decoration: underline;
}

.add-to-cart {
    display: flex;
}

.pd-cart-icon {
    margin-left: auto;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.pd-cart-icon:hover {
    width: 2.1em;
    height: 2.1em;
}

#billLists {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    padding: 1em 3em;
}

.section-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 4vh;
    font-size: 1vw;
    margin-top: 1.2vw;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    border-radius: 10px;
}

#bill-buttons {
    position: relative;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.button_page.active,
.button_page:hover {
    color: #0b5ed7;
    font-weight: 600;
    text-decoration: underline;
}

.sub-button {
    margin-left: 24vw;
}

.box {
    margin-top: 20px;
}

#toast {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: opacity 0.5s;
    z-index: 1000;
}


@media screen and (max-width: 800px) {

    .pd-info-thumb {
        object-fit: cover;
        width: 20vw;
        height: auto;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
    }


    .pd-info {
        width: 100%;
        display: flex;
        font-family: 'S-CoreDream-3Light';
        font-size: 2vw;
        color: aliceblue;
        margin-bottom: 1em;
    }

    #billLists {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #sectionBox {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-1 {
        width: 100%;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
    }

    #billLists {
        width: 100%;
    }

    .profile-section {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .sub-button {
        width: 80%;
        margin-left: 25px;
    }

    .subscription-section {
        width: 80%;
        margin-right: 15px;
    }

    .profile {
        width: 23vw;
    }

    .profile-card {
        font-family: 'S-CoreDream-3Light';
        font-size: 1.5vw;
        width: 80%;
        height: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        border: 2px solid white;
        border-radius: 20px;
        color: white;
    }

    .subscription-card {
        margin-left: 20px;
        height: auto;
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        border: 2px solid white;
        border-radius: 20px;
        font-family: 'S-CoreDream-3Light';
        font-size: 1.5vw;
        color: white;
        font-weight: bold;
    }

    .line {
        width: 90%;
    }

}