@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
    height: 3vw;
    font-size: 1vw;
    margin-top: 1.2vw;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    border-radius: 10px;
}

#myBillDetail {
    font-family: '국립박물관문화재단클래식B';
    font-size: 4vw;
    font-weight: bold;
    padding-left: 40px;
    color: white;
}

.section {
    background-color: #C4A492;
    height: auto;
    width: 100%;
}

.mypage-intro {
    display: flex;
    margin-top: 20px;
}

.line {
    border: 2px solid rgba(255, 255, 255, 0.729);
    min-width: 40vw;
    width: 95%;
    /* margin-left: 30px; */
}


#deliveryInfo {
    font-family: 'S-CoreDream-3Light';
    background-color: aliceblue;
    /* color: aliceblue; */
    padding: 1em 2em;
    min-width: 40vw;
    width: 95%;
    font-size: 1.2em;
    border-radius: 1em;
    margin: 1em 0;
}

#orderLists {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    width: 95%;
    font-size: 1.3em;
}

.order-list {
    display: flex;
    color: aliceblue;
    margin: 1em 0;
}

.pd-info-thumb {
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.order-context {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1em;
    margin-bottom: 0.2em;
}

.deli-col {
    display: flex;
    /* justify-content: space-between; */
    min-height: 10vh;
    align-items: center;
}

.deli-col-key {
    margin: 1em;
    min-width: 5em;
}

.recipient {
    word-break: break-all;
}

.address {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

#billBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.pd-cart-icon {
    margin-left: auto;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.pd-cart-icon:hover {
    width: 2.1em;
    height: 2.1em;
}

.profile-card {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.3em;
    width: 25vw;
    height: auto;
    text-align: center;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 20px;
}

.subscription-card {
    width: 25vw;
    height: 300px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.4em;
}

/*프로필 기본 사진*/
.bigbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#user-edit {
    cursor: pointer;
}

.subscrip-view {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 20px;
}

.sub-button-section {
    display: flex;
    justify-content: end;
    margin-right: 5vw;
}

.centered {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .section>.row {
        display: flex;
        flex-direction: column;
    }

    .col-md-8,
    .col-md-4 {
        width: 95%;
    }

    .profile-card {
        width: 100%;
        margin: 0;
    }

    .profile-section {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .sub-button {
        width: 50%;
        margin: 30px;
    }

    .subscription-section {
        width: 50%;
    }

    .subscription-card {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 960px) {

    .subscription-section,
    .profile-section,
    .sub-button {
        min-width: 390px;
    }
}