@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #C4A492;
}

.section {
    background-color: #C4A492;
    height: auto;
    min-height: 60vh;
    padding: 3em;
}

#cart {
    display: flex;
    flex-direction: column;
}

.row-type {
    display: flex;
    /* justify-content: space-between; */
    font-family: 'S-CoreDream-3Light';
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
    margin: 1em 15em;
}

.cart-item {
    margin: 1em 15em;
    /* background-color: aliceblue; */
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    font-family: 'S-CoreDream-3Light';
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
}

.line {
    border: 2px solid rgba(255, 255, 255, 0.729);
    width: 75em;
    margin: auto;
}

.info-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pd-info {
    display: flex;
    justify-content: center;
}

.pd-info-thumb {
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-shadow: 20rem;
    margin: auto 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

/* 품절상태 이미지 */
.soldout,.delete {
    position: absolute;
    height: 100px;
    width: 100px;
    opacity: 0.8;
}


.pd-amount {
    width: 3em;
    height: 1.3em;
    display: flex;
    margin: auto 0;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.sum-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-deliveryfee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-amount-submit {
    border-radius: 0.5em;
    width: 3em;
    color: aliceblue;
    background-color: #522F18;
    font-size: 0.8em;
}

.cart-total {
    display: flex;
    margin: 1em 30rem;
}

.check-each-div {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.pd-del-box {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: absolute;
    top: 40%;
    left: 0%;
    cursor: pointer;
    z-index: 2;
}

.pd-price-amount {
    display: flex;
    justify-content: center;
}

.pd-del-btn {
    width: 1em;
    height: 1em;
}

.pd-info-text {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.order-btn {
    display: flex;
    margin: 1em auto;
    background-color: rgba(65, 41, 9, 0.39);
    border-radius: 10px;
    width: 6em;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.1em;
    justify-content: center;
    box-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media (max-width: 1480px) {
    .row-type {
        margin: 1em 5em;
    }

    .cart-item {
        margin: 1em 5em;
    }

    .cart-total {
        margin: 1em 5em;
    }
}

@media (max-width: 1050px) {
    .row-type {
        margin: 1em;
    }

    .cart-item {
        margin: 1em;
    }

    .cart-total {
        margin: 1em;
    }
}

@media (max-width: 875px) {
    .section {
        font-size: 0.8em;
    }

    .row-type {
        margin: 1em 0;
    }

    .cart-item {
        margin: 1em 0;
    }

    .cart-total {
        margin: 1em 0;
    }
}

@media (max-width: 680px) {
    .pd-del-box {
        top: 0;
        left: 100%;
    }

    .cart-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pd-deliveryfee {
        width: 100% !important;
    }

    .sum-price {
        width: 100% !important;
    }

    .pd-info {
        width: 350px !important;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .pd-info-text {
        width: 350px !important;
        font-size: x-large;
    }

    .row-info {
        display: none;
    }

    .row {
        --bs-gutter-x: 0;
    }

    .check-each-div {
        position: absolute;
        top: 0;
        left: -50%;
        width: 100% !important;
    }

    .info-box {
        margin-left: auto;
    }

    .pd-info-thumb {
        width: 150px;
        height: 150px;
    }

    /* 품절상태 이미지 */
    .soldout,.delete {
        position: absolute;
        height: 150px;
        width: 150px;
        opacity: 0.8;
    }

    .order-btn {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 2em;
    }

    .check-each {
        width: 30px;
        height: 30px;
        border-radius: 1em !important;

    }

    .pd-price {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pd-multiply {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pd-amount-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }


    .sum-price {
        font-size: 1.2em;
    }

    .pd-deliveryfee {
        font-size: 1.2em;
    }
}