.section2{
    text-align: center;
    height: 40vw;
    display: flex;
    justify-content: center;
    background-color:#FFEBDB;
}
.section2-header{
    background-color:#FFEBDB;
    height:10vw;
    width:100%;
}
#header-image{
    width:100%;
    height: 100%;
   
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

#prev-button{
    height: 30px;
    width: 30px;
    margin-top: 13vw;
}

#next-button{
    height: 30px;
    width: 30px;
    margin-top: 13vw;
}


#carouselExampleControlsNoTouching {
    font-family: 'TheJamsil5Bold';
    background-color: #FFB3C0;
    color: #522F18;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    height: 30vw;
    width: 45vw;
    font-size: 20px;
}

#label-title{
    padding-top: 10vw;
    margin-bottom: 2vw;
    font-size: 25px;
}

#CBTI-result-btn{
    background-color: antiquewhite;
    color:#522F18;
    border-color: #522F18;
    margin-top: 3vw;
}

#cbti-main{
    height: 30vw;
    width: 45vw;
}

/* 모달창 */
#staticBackdrop{
    color:#522F18;
}
#modal-button{
    background-color:  rgb(255, 183, 209);
    color:#522F18;
}