@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

.section2{
    text-align: center;
    height: 33em;
    display: flex;
    justify-content: center;
    background-color:#C4A492;
    padding-bottom: 1em;
}

.section2-header{
    background-color:#C4A492;
    height:10vw;
    width:100%;
}
#header-image{
    width:100%;
    height: 100%;
   
}


#prev-button{
    height: 30px;
    width: 30px;
    margin-top: 8em;
}

#next-button{
    height: 30px;
    width: 30px;
    margin-top: 8em;
}


#carouselExampleControlsNoTouching {
    font-family: 'TheJamsil5Bold';
    color: #522F18;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    max-width:30em;
}

#label-title{
    font-size: 1.2em;
    padding-top: 6em;
    margin-bottom: 1em;
}

#CBTI-result-btn{
    background-color: antiquewhite;
    color:#522F18;
    border-color: #522F18;
    margin-top: 3vw;
}

#cbti-main{
    height: 80vw;
    width: 70vw;
}

/* 모달창 */
#staticBackdrop{
    color:#522F18;
}
#modal-button{
    background-color:  rgb(255, 183, 209);
    color:#522F18;
}

.carousel-item {
    width: 100%;
    height: 100%;
    background-image: url("/static/images/CBTIback.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width:30em;
}

.modal-content {
    width: 23em;
    height: 25em;
    
}

#cBTi{
    width: 100%;
    height: 100%;
}