@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* **********푸터시작*********** */
footer {
    display: block;
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    height: fit-content;
    background-color: rgba(185, 147, 126, 0.842);
    color: #522F18;
    font-family: 'S-CoreDream-3Light';
}

li {
    list-style-type: none;
    /* 리스트 점 제거 */
}

.footer-wrapper-desktop .inner {
    /* position: relative; */
    /* display: table; */
    /* margin: 0 auto; */
    padding-top: 10px;
}

.footer-wrapper-desktop .inner div img {
    /* 로고 */
    display: table-cell;
    width: 300px;
    vertical-align: top;
}

@media (min-width: 1080px) {
    .footer-region {
        /* display: table-cell; */
        /* min-width: 570px; */
        vertical-align: top;
    }
}

.footer-region-columns {
    /* 푸터 카테고리 */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer-region-columns .column {
    display: table-cell;
    vertical-align: top;
}

.github>img {
    width: 25px !important;
    height: 25px !important;
}

/* **********푸터끝*********** */


@media (max-width: 850px) {
    .footer-region {
        display: table-cell;
        min-width: 570px;
        /* vertical-align: top; */
    }
}

.team-member-name {
    margin-right: 20px;
}

.footer-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items {
    margin: 1em;
}

.right-box-text {
    height: 25px !important;
    display: flex;
    font-size: 1.3em;
}

.icons {
    display: flex;
}

@media screen and (max-width: 1300px) {
    .footer-left {
        flex-direction: column;
    }

    .footer-right {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 700px) {
    /* .footer-left {} */

    .footer-right {
        display: none;
    }

    #footerLogo {
        width: 15em;
    }

    .footer-items {
        margin: 0;
    }
}