@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 220px 0 0 0;
    padding: 0;
}

a {
    /* color: #333; */
    color: #522F18;
    text-decoration: none;
}


/* *********헤더 시작******** */
/* .navbar {
    background-color: rgba(185, 147, 126, 0.842);
    font-family: '국립박물관문화재단클래식B';
    height: 300px;
    padding-top: 10px;
} */

header {
    display: block;
    background-color: #C4A492;
    font-family: '국립박물관문화재단클래식B';
    height: 220px;
    width: 100%;
    padding-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    border: solid 1px black;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    z-index: 100;
    /* 겹쳤을 때 항상 최상단으로 */
}

.header {
    display: flex;
    justify-content: space-between;
}

.right-header {
    font-family: 'S-CoreDream-3Light';
    height: 40px;
    justify-content: right;
    display: inline-flex;
    color: rgb(82, 47, 24);
    padding-top: 15px;
    padding-right: 15px;
}

/* 로그인 남은시간 */
.left-header {
    font-family: 'S-CoreDream-3Light';
    height: 40px;
    justify-content: left;
    display: inline-flex;
    color: rgb(82, 47, 24);
    padding-top: 15px;
    padding-left: 15px;
}

/* 타이틀 관련 */
.main {
    justify-content: center;
    display: flex;
    height: 30px;
}

.main>text {
    color: #522F18;
    font-size: 60px !important;
    cursor: pointer;
}

.top-category {
    display: flex;
    color: #522F18;
}

.nav-underline-header {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 20%;
    height: 2px;
    background: #522F18;
    transition: all .3s ease-in-out;
}

.nav-header {
    position: relative;
    display: flex;
    width: 640px;
    margin: 4em auto;
}

.nav-header a {
    display: block;
    width: 20%;
    padding: .75em 0;
    color: #522F18;
    text-decoration: none;
    text-align: center;
}

.nav-header a:nth-child(1).is-current~.nav-underline {
    left: 0;
}

.nav-header a:nth-child(2).is-current~.nav-underline {
    left: 20%;
}

.nav-header a:nth-child(3).is-current~.nav-underline {
    left: 40%;
}

.nav-header a:nth-child(4).is-current~.nav-underline {
    left: 60%;
}

.nav-header a:nth-child(5).is-current~.nav-underline {
    left: 80%;
}

.nav-header a:nth-child(1):hover~.nav-underline {
    left: 0;
}

.nav-header a:nth-child(2):hover~.nav-underline {
    left: 20%;
}

.nav-header a:nth-child(3):hover~.nav-underline {
    left: 40%;
}

.nav-header a:nth-child(4):hover~.nav-underline {
    left: 60%;
}

.nav-header a:nth-child(5):hover~.nav-underline {
    left: 80%;
}

.back-to-top.show {
    opacity: 1;
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: white;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}