@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.img {
  border-radius: 20px;
}

.search {
  position: relative;
  width: 300px;
  padding-left: 50px;
}

input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.slide {
  float: center;
  text-align: center;
  justify-content: center;

}

.menu {
  margin-left: 150px;
}

.category {
  font-size: 40px;
  font-family: '국립박물관문화재단클래식B';
  float: left;
  text-align: left;
  justify-content: left;
  width: 60px;
  margin-right: 300px;
}

.section {
  background-color: #C4A492;
  height: 800px;
}