@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.img {
  border-radius: 20px;
}

.search {
  display: flex;
  position: relative;
  width: 300px;
  padding-left: 20px;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

#search-btn {
  background-color: transparent;
  border: none;
  height: 40px;
}

input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  height: 40px;
}

.menu {
  margin-left: 50px;
}

.category {
  font-size: 40px;
  font-family: '국립박물관문화재단클래식B';
  float: left;
  text-align: left;
  justify-content: left;
  width: 40px;
  margin-right: 300px;
}

.section {
  background-color: #C4A492;
  height: auto;
}

#product-content {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

#product-buttons {
  position: relative;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

/* 
button {
  height: 4vh;
  font-size: 1vw;
  margin-top: 1.2vw;
  background-color: rgba(109, 86, 68, 0.822);
  color: white;
  border-radius: 10px;
}

.button_page.active,
.button_page:hover {
  color: #0b5ed7;
  font-weight: 600;
  text-decoration: underline;
} */

#chocobanner {
  height: 30vh;
  width: 50vw;
  margin-top: 20px;
  cursor: pointer;
}

.card-img-top {
  height: 200px;
}

.card {
  font-family: 'S-CoreDream-3Light';
  height: 50vh;
  width: 20vw;
  font-size: 1vw;
}

.card-title {
  font-weight: bold;
  font-size: 1.5vw;
}

.col-md-9 {
  padding: 3%;
  width: 70vw;
}


button {
  height: 4vh;
  font-size: 1vw;
  background-color: rgba(109, 86, 68, 0.822);
  color: white;
  border-radius: 10px;
}

#previous-buttons {
  margin-right: 10px;
}

#next-buttons {
  margin-left: 10px;
}