@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
img {
    border-radius: 20px;
}
.navbar {
    background-color: rgba(185, 147, 126, 0.842);
    font-family: '국립박물관문화재단클래식B';
    height:300px;
    padding-top: 10px;
}
.header {
    font-family: 'S-CoreDream-3Light';
    height:40px;
    justify-content: right;
    display: flex;
    color:rgb(82, 47, 24);
}
.search {
    position: relative;
    width: 300px;
    padding-left: 50px;
  }
  
 input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  
.main {
    color: gold;
    font-size: 60px;
    justify-content: center;
    display: flex;
    height:100px;
}
.slide {
    float: center;
    text-align: center;
    justify-content: center;
    
}
.menu {
    margin-left: 150px;
}

.category {
    font-size: 40px;
    font-family: '국립박물관문화재단클래식B';
    float: left;
    text-align: left;
    justify-content: left;
    width:60px;
    margin-right: 300px;
}

.section {
    background-color:  rgba(185, 147, 126, 0.842);
    height:800px;
}

.footer {
    background-color:  rgba(185, 147, 126, 0.842);
}


nav {
    position: relative;
    display: flex;
    width: 640px;
    margin: 4em auto;
  }
  nav a {
    display: block;
    width: 20%;
    padding: .75em 0;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  .nav-underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 20%;
    height: 2px;
    background: #333;
    transition: all .3s ease-in-out;
  }
  nav a:nth-child(1).is-current ~ .nav-underline {
    left: 0;
  }
  nav a:nth-child(2).is-current ~ .nav-underline {
    left: 20%;
  }
  nav a:nth-child(3).is-current ~ .nav-underline {
    left: 40%;
  }
  nav a:nth-child(4).is-current ~ .nav-underline {
    left: 60%;
  }
  nav a:nth-child(5).is-current ~ .nav-underline {
    left: 80%;
  }
  nav a:nth-child(1):hover ~ .nav-underline {
    left: 0;
  }
  nav a:nth-child(2):hover ~ .nav-underline {
    left: 20%;
  }
  nav a:nth-child(3):hover ~ .nav-underline {
    left: 40%;
  }
  nav a:nth-child(4):hover ~ .nav-underline {
    left: 60%;
  }
  nav a:nth-child(5):hover ~ .nav-underline {
    left: 80%;
  }