@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


button {
    height: 3vw;
    font-size: 1vw;
    margin-top: 1.2vw;
    background-color: rgba(109, 86, 68, 0.822);
    color: white;
    border-radius: 10px;
}


.section {
    background-color: #C4A492;
    height: auto;
}

.mypage-intro {
    display: flex;
    margin-top: 20px;
}


.mypage-intro {
    display: flex;
    margin-top: 20px;
}

#myreview {
    font-family: '국립박물관문화재단클래식B';
    font-size: 4vw;
    font-weight: bold;
    padding-left: 40px;
    color: white;
}

.line {
    border: 2px solid rgba(255, 255, 255, 0.729);
    width: 97%;
    margin-left: 30px;
}


.profile-card {
    font-family: 'S-CoreDream-3Light';
    font-size: 1.5vw;
    width: 25vw;
    height: auto;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
    border: 2px solid white;
    border-radius: 20px;
}

.profile {
    width: 23vw;
}

.subscription-card {
    width: 25vw;
    height: 18vw;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 20px;
    font-family: 'S-CoreDream-3Light';
    font-size: 1.5vw;
}

/*프로필 기본 사진*/
.bigbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.box {
    margin-top: 20px;
}

#user-edit {
    cursor: pointer;
}

.subscrip-view {
    margin-bottom: 1.5vw;
}

.sub-button {
    margin-left: 24vw;
}

.card {
    width: 60vw;
    margin-left: 50px;
    margin-top: 20px;
    font-family: 'S-CoreDream-3Light';
}

.card-body {
    display: flex;
    font-size: 0.8vw;
}

.productimage {
    width: 10vw;
    max-height: 10vw;
}

.card-text {
    margin-left: 20px;
}

.review-title {
    font-size: 1.5vw;
    font-weight: bold;
}


.title {
    font-weight: bold;
}