.section {
    background-color: #C4A492;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: 'S-CoreDream-3Light';
}

#card {
    height: 500px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 40vw;
}

.help-text {
    position: absolute;
    object-fit: cover;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 10px;
    z-index: 1;
}

.tooltip>.tooltip-inner {
    max-width: 300px;
}