@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #C4A492;
}

.section3 {
    flex-direction: column;
    font-family: 'GangwonEdu_OTFBoldA';
    height: 100%;
    padding-bottom: 100px;
    margin: 0 30%;
}

/* #review-List {
    width: 500px;
    margin-left:400px;
} */

.card {
    margin-bottom: 10px;
}

.top-category {
    width: 100%;
}


#post-card {
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box {
    width: 100%;
    justify-content: space-between;
    padding: 1em;
}

.text-box-first {
    align-items: baseline;
}

.text-box-second {
    width: auto;
    height: auto;
}

.imageBox {
    object-fit: cover;
    width: 100%;
}

#imagePut {
    width: 100%;
    /* margin: 50px 0 0 210px; */
    /* width: 400px; */
    /* height: 400px; */
    object-fit: cover;
}


#product-title {
    font-size: 1.2em;
    font-weight: bold;
}

#top-image {
    object-fit: cover;
    width: 100%;
}

/* 수정 삭제 버튼 */
#edit-btn {
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-font-size: 1.5rem;
    margin: 1em 0 0 0;
}

#delete-btn {
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-padding-x: 1.7rem;
    --bs-btn-font-size: 1.5rem;
    margin: 1em 0 0 1em;
}


/* 장바구니 관련 */

#cartCount {
    font-size: 1em;
    width: 2em;
    height: 1em;
    text-align: center;
}

.icons {
    width: 40px;
    height: 42px;
    cursor: pointer;
}

#addToCart {
    background-color: #3a2b198f;
    border: none;
}


/* 좋아요, 별점 */
.like-box {
    display: flex;
    justify-content: space-evenly;
}